* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
nav {
  width: 100%;
  background-color: #333;
  overflow: hidden;
  height: 5rem;
  position: relative;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 14px 20px;
  display: block;
  position: relative;
}
nav ul li a:hover {
  background-color: #575757;
  border-radius: 4px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background:url("./math.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
